{% extends 'base.html' %}
{% load static %}

{% block title %}
DLR Path 8 | The Correct Solution Process
{% endblock title %}

{% block content %}
<div class="problem-page2">
    <div class="prob-container">
        <div class="prob-title">
            <h3>DLR Path 8 : The Correct Solution Process</h3>
        </div>

        <div class="prob-display">

            <div class="problem-statement">
                <p>
                    We will now work through one way of understanding how to approach
                    explaining what will happen to the power of the four elements as the
                    value of R<sub>2</sub> decreases.
                </p>
                <p>
                    Mentioning combining resistors as you did is a fine way to start. Let's begin there.
                </p>
                <hr class="divide">
                <figure>
                    <figcaption><em>We are often able to simplify circuits by recognizing elements that are in series and elements that are in parallel. How do we know when elements are in series or in parallel and what electrical quantities do elements in each case share in common? Select all of the following that are true regarding series and parallel connections.</em></figcaption>
                    <ol type="a" class="selection">
                        <li>Elements in series share the same current.</li>
                        <li>Elements in series share the same potential difference.</li>
                        <li>Elements in parallel share the same current.</li>
                        <li>Elements in parallel share the same potential difference.</li>
                        <li>Any elements ties together at one node are in series.</li>
                        <li>Any elements ties together at two nodes are in parallel.</li>
                    </ol>
                </figure>
                <hr class="divide">
                <p>
                    Properly recognizing series and parallel combinations is critically important in circuit analysis. Let's make sure we understand how to identify elements that are in series and elements that are in parallel.
                </p>
                <p>
                    <strong>Elements in series share the same current.</strong> While it is often the case that elements in series are tied together at one node, this need not be the case and in fact does not guarantee that the elements are in series. The key is to determine whether the elements share the same current.
                </p>
                <p>
                    Remember that the potential difference between two nodes does not depend on the path that one travels from a given node to another. Since <strong>any elements tied together at two nodes are in parallel,</strong> we therefore know that <strong>elements in parallel share the same potential difference.</strong>
                </p>
                <p>
                    To summarize the correct answers: elements in series share the same current, elements in parallel share the same potential difference, and elements in parallel are tied together at two nodes.
                </p>
                <p>
                    Here again is the circuit we are considering. Notice that while resistors R<sub>1</sub> and R<sub>2</sub> share one node, they are NOT in series as the current in the two resistors will be different. In fact we know by applying KCL at the node connecting the three resistors that the current in R<sub>1</sub> is the sum of the currents in resistors R<sub>2</sub> and R<sub>3</sub>.
                </p>
                <div class="right">
                    <div class="circuit-image page2-img">
                        <img src="{% static 'svg/Circuit_Original_w_Currents.svg' %}" width="350"/>
                    </div>
                </div>
                <hr class="divide">
                <figure>
                    <figcaption><em>Notice that R<sub>2</sub> and R<sub>3</sub> are tied together at both ends -- they share two nodes and therefore are in parallel. Since the problem has us imagine what happens when the resistance of R<sub>2</sub> decreases, let's think about whether the effective resistance of the parallel combination of R<sub>2</sub> and R<sub>3</sub> increases or decreases as the resistance of R<sub>2</sub> decreases.</em></figcaption>
                    <ol type="a" class="selection">
                        <li>The effective resistance of the parallel combination increases as R<sub>2</sub> decreases.</li>
                        <li>The effective resistance of the parallel combination decreases as R<sub>2</sub> decreases.</li>
                    </ol>
                </figure>
                <hr class="divide">
                <p>
                    Yes, as the resistance of R<sub>2</sub> decreases, the resistance of the parallel combination of R<sub>2</sub> and R<sub>3</sub> decreases.
                </p>
                <p>
                    The parallel combination of R<sub>2</sub> and R<sub>3</sub>, call it resistor R<sub>23</sub>, is in series with R<sub>23</sub>. This means that the effective resistance “seen” by the voltage source is R<sub>1</sub>+R<sub>23</sub>. Since the resistance of R<sub>23</sub> decreases as the value of R<sub>2</sub> decreases, the effective resistance in the circuit decreases.
                </p>
            </div>

            <form method="post">{% csrf_token %}

                <div class="drop-downs">
                    <div class="drop-down">
                        <label for="Vs-summary">
                            The voltage source is an ideal independent voltage source. <em>Select all of the following that are true with regard to the ideal independent voltage source in the circuit.</em>
                        </label>
                        {{ form.choice }}
                    </div>
                </div>
                
                <div class="sub-btn">
                    <input type="submit" class="prob-btn btn" id="prob-btn-2" name="Submit" value="Click to submit choices"/>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock content %}