{% extends 'base.html' %}
{% load static %}

{% block title %}
DLR Path 4 | Dispelling the Constant Voltage Drop Error
{% endblock title %}

{% block content %}
<div class="problem-page2">
    <div class="prob-container">
        <div class="prob-title">
            <h3>DLR 4: Dispelling the Constant Voltage Drop Error</h3>
        </div>

        <div class="prob-display">

            <div class="problem-statement">
                <p>Let's start off with a question. <em>Select all of the following that are true as the value of R2 decreases in the circuit below.</em></p>
                <div class="right_fix">
                    <div class="circuit-image page2-img">
                        <img src="{% static 'svg/Circuit_Original_w_Currents.svg' %}" width="350"/>
                    </div>
                </div>
                <hr class="divide">
                <figure>
                    <figcaption><em>Select all of the following that are true about power in the above circuit.</em></figcaption>
                    <ol type="a" class="selection">
                        <li>Because the voltage drop across R<sub>2</sub> must stay the same, as the resistance of R<sub>2</sub> decreases, the current in resistor 2 must increase.</li>
                        <li>Because the voltage drop across R<sub>3</sub> remains the same and its value of resistance remains constant, so does the current in R<sub>3</sub>.</li>
                    </ol>
                </figure>
                <hr class="divide">
            </div>

            <div class="problem-statement">
                <p>
                    Both of the above statements are false, and notice, they are based on the assumption that the voltage drop across
                    R<sub>2</sub> or R<sub>3</sub> remains constant as the value of R<sub>2</sub> decreases. The only element in the circuit that has a potential difference that
                    does not change as the value of R<sub>2</sub> changes is the ideal independent voltage source. Indeed, this is in essence the
                    definition of such a source -- it provides a constant potential difference across its terminals regardless of the circuit to
                    which it is connected. We cannot extend the idea of a constant potential difference to the remainder of the elements
                    however, as we will see through the following argument. Let's redraw the circuit, labeling potential differences.
                </p>
            </div>

            <div class="problem-statement">
                <div class="right_fix">
                    <div class="circuit-image page2-img">
                        <img src="{% static 'svg/Circuit_Original_with_voltages.svg' %}" width="350"/>
                    </div>
                </div>
                <p><em>Point 1</em>: Let's start by assuming (incorrectly) that the voltage drop across resistor R<sub>3</sub> remains constant. If this is the case,
                    since the value of R<sub>3</sub> does not change in the stated problem, Ohm's law suggests that the current in resistor 3 is constant.
                    That is, I<sub>3</sub> = V<sub>3</sub>/R<sub>3</sub> would be a constant. Again, this is an incorrect statement for this circuit!
                </p>
                <p><em>Point 2</em>: Since R<sub>2</sub> and R<sub>3</sub> are tied together at both nodes, they are in parallel. Elements in parallel, share a common potential
                    difference and so V<sub>2</sub> = V<sub>3</sub>. These two sentences are correct.
                </p>
                <p><em>Point 3</em>: Since we argued in Point 1 that the potential across resistor 3 remains constant, and as Point 2 indicates,
                    resistor 2 and resistor 3 have the same potential difference, V<sub>2</sub> = V<sub>3</sub> = a constant. This would suggest that as the value
                    of R<sub>2</sub> decreases, Ohm's law reveals that the current in R<sub>2</sub> increases as I<sub>2</sub> = V<sub>2</sub>/R<sub>2</sub>.
                </p>
                <p><em>Point 4</em>: 
                    Applying KCL to the node connecting the three resistors, we see that I<sub>1</sub> = I<sub>2</sub> + I<sub>3</sub>. This is a correct application
                    of KCL. Since we have I<sub>3</sub> as a constant and I<sub>2</sub> as increasing, I<sub>1</sub> must increase to satisfy KCL. Ohm's law applied to
                    resistor R<sub>1</sub> requires V<sub>1</sub> = I<sub>1</sub>R<sub>1</sub>. Since R<sub>1</sub> remains constant and I<sub>1</sub> increases, this would suggest that V<sub>1</sub> would have had
                    to increase to drive a larger current through R<sub>1</sub>. This seems to go against the original notion of the voltage drop
                    across a resistor not changing as R<sub>2</sub> changes, but let's run with the idea and see where it takes us.
                </p>
                <p><em>Point 5</em>: 
                    So our arguments have led us to the following: V<sub>1</sub> increasing and V<sub>2</sub> and V<sub>3</sub> remaining constant as the value
                    of R<sub>2</sub> decreases. Let's apply the fundamental circuit law that relates potential differences around a loop, KVL.
                    Summing voltage drops going clockwise around the inner loop and setting the sum to zero, we find: -V<sub>s</sub> + V<sub>1</sub> + V<sub>2</sub> = 0
                </p>
                <hr class="divide">
            </div>

            <form method="post">{% csrf_token %}

                <div class="drop-downs">
                    <div class="drop-down">
                        <label for="Vs-summary"><em>Select the correct statement in considering our arguments when applying KVL.</em></label>
                        {{ form.choice }}
                    </div>
                </div>

                <div class="sub-btn">
                    <input type="submit" class="prob-btn btn" id="prob-btn-2" name="Submit" value="Click to submit choices"/>
                    <!-- <a class="prob-btn btn" id="prob-btn-2" href="#">Click to submit response once it is complete</a> -->
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock content %}