{% extends 'base.html' %}
{% load static %}

{% block title %}
DLR Path 6 | Dispelling Precedence of Current Error
{% endblock title %}

{% block content %}
<div class="problem-page2">
    <div class="prob-container">
        <div class="prob-title">
            <h3>DLR 6: Dispelling Precedence of Current Error</h3>
        </div>

        <div class="prob-display">

            <div class="problem-statement">
                <p>
                    Reviewing your response to the question, we want to make certain that you have the accepted understanding of the
                    relationship between voltage and current in an electric circuit. We know that for a resistor, voltage and current are
                    related by Ohm's law as follows:
                </p>
                <p class="equation"><em>V = IR</em></p>
                <p>
                    where 'V' is the potential difference across the resistor, 'I' the current in the resistor and 'R' the resistor's value of
                    resistance. The way Ohm's Law has been expressed may lead some to believe that it is the current that causes the
                    potential difference; it is actually the opposite.
                </p>
                <p>
                    The voltage source in the circuit provides the energy needed to shift surface charges in a circuit. This displaced surface
                    charge in turn creates electric fields within a circuit, providing the force needed to drive charge flow. Without such an
                    electric field, the motion of charge in the wires and circuit elements is random. We account for these electric fields
                    using the concept of potential difference. When a potential difference exists across a resistor, for example, the motion
                    of charge in the resistor is no longer random but moves in a concerted direction overall. This is current. From the point
                    of developing the proper intuition, perhaps one should express Ohm's Law as:
                </p>
                <p class="equation"><em>I = V/R</em></p>
                <p>
                    Thus suggesting that current is the result of a potential difference and not the other way. Remember that the voltage
                    difference (aka potential difference) between two points in the circuit is just the difference in potential energy per unit
                    charge between those two points.
                </p>
            </div>

            <form method="post">{% csrf_token %}
                
                <div class="sub-btn">
                    <input type="submit" class="prob-btn btn" id="prob-btn-2" name="Submit" value="Go to next misconception"/>
                    <!-- <a class="prob-btn btn" id="prob-btn-2" href="#">Click to submit response once it is complete</a> -->
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock content %}