{% extends 'base.html' %}
{% load static %}

{% block title %}
DLR Path 7 | Dispelling Energy Conservation Misconceptions
{% endblock title %}

{% block content %}
<div class="problem-page2">
    <div class="prob-container">
        <div class="prob-title">
            <h3>DLR 7: Dispelling Energy Conservation Misconceptions</h3>
        </div>

        <div class="prob-display">

            <div class="problem-statement">
                <p>
                    Energy is conserved in an electric circuit. Since power is simply energy per unit time, power is also conserved in an
                    electric circuit. You mentioned the notion of energy (power) conservation in your response and so let's review how it
                    applies to the circuit we are considering.
                </p>
            </div>

            <div class="right">
                <div class="circuit-image page2-img">
                    <img src="{% static 'svg/circuit.svg' %}" width="350"/>
                </div>

            </div>

            <div class="problem-statement">
                <p>
                    Applied to an electric circuit, the principle of conservation of energy states that energy is neither created nor
                    destroyed in an electric circuit and is only transformed. For example, in our circuit the voltage source provides energy
                    to the circuit and the resistors dissipate the energy thus heating up in the process. Perhaps the voltage source models
                    a battery with stored chemical energy that is transformed to electrical energy. In analyzing electric circuits, we are
                    typically not concerned with details such as chemical-to-electrical energy conversion and rather only seek to verify
                    that the sum of energy (i.e. power) dissipated or stored is precisely balanced by the amount of energy provided.
                </p>
                <hr>
                <figure>
                    <figcaption><em>Select all the following that are true in considering our circuit.</em></figcaption>
                    <ol type="a" class="selection">
                        <li>The voltage source provides energy to the circuit in question.</li>
                        <li>Due to conservation of energy, the amount of energy suuplied by the voltage source will not change as the resistance of R<sub>2</sub> changes.</li>
                        <li>The resistors in the circuit procide energy.</li>
                    </ol>
                </figure>
                <hr>
                <p>
                    It is important to acknowledge that we apply the principle of conservation of energy to the circuit as a whole and not
                    to a particular element. Therefore, it is incorrect to attempt to apply the notion of conservation of energy to a single
                    element whether it be a voltage source, resistor, or any other element in an electric circuit. Some may be confused
                    by the term “ideal independent voltage source” thinking that such a source supplies a consistent amount of power
                    (i.e. energy per unit time) regardless of the circuit to which it is connected. On the contrary, an ideal independent
                    voltage source provides a consistent potential difference across its terminals; the amount of power associated with it
                    depends on the circuit to which it is connected.
                </p>
                <p>
                    The proper way to apply conservation of energy to the circuit in question would be to verify the required balance
                    between the amount of power provided by source and the total amount of power dissipated by the three resistors.
                    We calculate power more frequently than energy as recall that the power associated with a given element is the
                    product of the potential difference across the element and the current in the element. As the resistance of R<sub>2</sub>
                    changes, the voltage source may need to provide more or less power. What we know is that the balance between
                    the power supplied and the power dissipated will be maintained within the circuit as a whole. Once again, thinking
                    of a circuit as a system is helpful.
                </p>
            </div>

            <form method="post">{% csrf_token %}
                
                <div class="sub-btn">
                    <input type="submit" class="prob-btn btn" id="prob-btn-2" name="Submit" value="Go to completion page"/>
                    <!-- <a class="prob-btn btn" id="prob-btn-2" href="#">Click to submit response once it is complete</a> -->
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock content %}