<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <title>Writing Exercise | {% block title %}{% endblock title %}</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    </head>
    <body>
        {% block content %}{% endblock content %}
    </body>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</html>