{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Page-2
{% endblock title %}

{% block content %}
<div class="problem-page2" id="page-2">
        
    <div class="prob-container">
        <div class="prob-title">
            <h2>Writing Exercise</h2>
        </div>

        <div class="prob-display">
    
            <div class="problem-statement">
                <p>Consider the circuit shown below and assume that the elements are ideal. <strong><em>Explain what happens to the power associated with V<sub>S</sub>, R<sub>1</sub>, R<sub>2</sub>, and R<sub>3</sub> as the resistance of R<sub>2</sub> decreases while the other component values (V<sub>S</sub>, R<sub>1</sub>, and R<sub>3</sub>) remain unchanged. </em></strong>Thoroughly explain the rationale supporting your conclusions, using equations only as necessary. Write in complete sentences.</p>
            </div>

            <div class="left">
                <div class="equation-creater">
                    <p>Complicated formulas are not desired. If an equation is necessary, please build it into a complete sentence with the help of the buttons below.</p>
                    <a class="eqn-btn btn" id="eqn" href="#"> the equation</a>
                    <a class="eqn-btn btn" id="equals" href="#"> equals</a>
                    <a class="eqn-btn btn" id="multiplied" href="#"> multiplied by</a>
                    <a class="eqn-btn btn" id="divided" href="#"> divided by</a>
                    <a class="eqn-btn btn" id="squared" href="#"> squared</a>
                    <a class="eqn-btn btn" id="greater" href="#"> greater than</a>
                    <a class="eqn-btn btn" id="less" href="#"> less than</a>
                    <a class="eqn-btn btn" id="current" href="#"> current</a>
                    <a class="eqn-btn btn" id="voltage" href="#"> voltage</a>
                    <a class="eqn-btn btn" id="power" href="#"> power</a>
                </div>
            </div>
            
            <div class="right">
                <div class="circuit-image page2-img">
                    <img src="{% static 'svg/circuit.svg' %}" width="350"/>
                </div>

                <div class="popup">
                    <p><em>You haven't written anything in recently. Please remember to write what you are thinking as this is what is most important for this exercise!</em></p>
                </div>
            </div>
            
            <form method="post">{% csrf_token %}
                <div class="answer-box">
                    {{ form.raw_response | add_class:'answer-input' }}
                    <!-- <textarea id="answer-input" rows="5" columns="80" autocomplete="off"></textarea> -->
                </div>
                
                <div class="drop-downs">
                    <p>To summarize, your response supports the following conclusions as the resistance of R<sub>2</sub> decreases:</p>
                    <div class="Vs-drop-down drop-down">
                        <label for="Vs-summary">The power associated with V<sub>S</sub>:</label>
                        {{ form.vs_dropdown }}
                        <!-- <select id="Vs-summary" autocomplete="off">
                            <option value="select">Select</option>
                            <option value="increases">Increases</option>
                            <option value="decreases">Decreases</option>
                            <option value="stays-same">Stays same</option>
                        </select> -->
                    </div>
                    <div class="R1-drop-down drop-down">
                        <label for="R1-summary">The power associated with R<sub>1</sub>:</label>
                        {{ form.r1_dropdown }}
                        <!-- <select id="R1-summary" autocomplete="off">
                            <option value="select">Select</option>
                            <option value="increases">Increases</option>
                            <option value="decreases">Decreases</option>
                            <option value="stays-same">Stays same</option>
                        </select> -->
                    </div>
                    <div class="R2-drop-down drop-down">
                        <label for="R2-summary">The power associated with R<sub>2</sub>:</label>
                        {{ form.r2_dropdown }}
                        <!-- <select id="R2-summary" autocomplete="off">
                            <option value="select">Select</option>
                            <option value="increases">Increases</option>
                            <option value="decreases">Decreases</option>
                            <option value="stays-same">Stays same</option>
                        </select> -->
                    </div>
                    <div class="R3-drop-down drop-down">
                        <label for="R3-summary">The power associated with R<sub>3</sub>:</label>
                        {{ form.r3_dropdown }}
                        <!-- <select id="R3-summary" autocomplete="off">
                            <option value="select">Select</option>
                            <option value="increases">Increases</option>
                            <option value="decreases">Decreases</option>
                            <option value="stays-same">Stays same</option>
                        </select> -->
                    </div>
                </div>
                
                <div class="sub-btn">
                    <input type="submit" class="prob-btn btn" id="prob-btn-2" name="Submit" value="Click to submit response once it is complete"/>
                    <!-- <a class="prob-btn btn" id="prob-btn-2" href="#">Click to submit response once it is complete</a> -->
                </div>
            </form>
            
        </div>
    </div>
</div>
{% endblock content %}